

<%= form_for([@interview.candidate,@interview]) do |f| %>

  <div class="field">
    <%= f.label :round %><br />
  <!--  <%= f.select :round, options_for_select([["PS & Coding","PS & Coding"],["Algorithm","Algorithm"],["Designing","Designing"],["Manager discussion","Manager discussion"]]) %> -->
  <%= f.select :round, options_for_select(@remaining_rounds)%>
  </div>

  <div class="field">
    <%= f.label :interviewer %><br />
    <%= f.select :interviewer_id, options_for_select(
      @get_interviewers.map do |f|
      [f.email, f.id]
      end)%>
  </div>
    <%=f.hidden_field :recruiter_id, :value => current_user.id %>
    <div class="field">
    <%= f.label :schedled_at %><br />  
      <%=
    f.datetime_select :scheduled_at, default: Time.now
    %>
  </div>

  <!--<div class="field">
    <%= f.label :feedback %><br />
    <%= f.text_area :feedback %>
  </div>

  <div class="field">
    <%= f.label :vote %><br />  
    <%= f.text_field :vote %>
  </div> -->
<br/>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<%end%>