<!DOCTYPE html>
<html>
<head>
  <title>HireV1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
<div class="jumbotron">
  <center><font size="7">Hire</font>
  <p>Today’s talent. Tomorrow’s success</p> </center>
</div>
<%= yield %>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

 <script>
$(document).ready(function(){
  jQuery(".content:not(:first)").hide();
    $(".flip").click(function(){
        $(this).next().find(".panel").slideToggle("fast");
    });
}); 
</script> 

</body>
</html>
